.header {
  height: 80px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: linen;
  padding: 9px;
}

.auth-elements {
  display: flex;
  flex-direction: row;
  gap: 19px;
  font-size: 18px;
}

.name-element:hover {
  cursor: pointer;
}

.user-info:hover {
  cursor: pointer;
}
