.sign-in {
  height: 384px;
  width: 374px;
  box-shadow:
    0px 4px 6px rgba(0, 0, 0, 0.1),
    0px 1px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  background-color: #ffffff;
}

.sign-in__title {
  font-size: 28px;
  margin-left: auto;
  margin-right: auto;
}

.sign-in__form-container {
  height: 140px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.sign-in__form-container__email {
  display: flex;
  flex-direction: column;
}
.sign-in__form-container__email > label {
  font-size: 14px;
  line-height: 22px;
}

.sign-in__form-container__email > input {
  height: 40px;
  width: 320px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

.sign-in__form-container__password {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.sign-in__form-container__password > input {
  height: 40px;
  width: 320px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

.sign-in__form-container__password > label {
  font-size: 14px;
  line-height: 22px;
}

.log-in-btn {
  background-color: #1890ff;
  height: 19px;
  width: 320px;
  color: white;
  font-size: 16px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.log-in-btn:hover {
  background-color: lightskyblue;
}

.log-in-btn:active {
  background-color: darkcyan;
}

.log-in-btn__name {
  font-weight: bold;
}

.sign-in__footer {
  font-size: 12px;
  line-height: 22px;
  margin-top: 8px;
  text-align: center;
  height: 20px;
  width: auto;
}
